@font-face {
    font-family: 'Suisse Intl';
    src: url('https://tenue.uy/projects/el-caracol-02/../fonts/SuisseIntl-Regular.woff2') format('woff2'),
        url('https://tenue.uy/projects/el-caracol-02/../fonts/SuisseIntl-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;    
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('https://tenue.uy/projects/el-caracol-02/../fonts/SuisseIntl-Book.woff2') format('woff2'),
        url('https://tenue.uy/projects/el-caracol-02/../fonts/SuisseIntl-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;    
}